.link{
    color: rgb(47,7,30);
    font-style: bold;
    align-items: center;
    
}
#navbar{
    background-color:white;
    color:#969696;
    display:flex;
    align-items: center;
    margin:auto;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 5px;
    width: 100%;
    /* translate: 0px 100px; */

}
#footer{
    background-color:#B2BEB5;
    height: 200px;
    color:azure;
    align-items: center;
}
a{
    margin-right: 300px;
    font-size: large;
    text-decoration: none;
}
p{
    /* margin-left: 40%; */
    display: block;
    align-items: center;
}
.slider-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 500px;
    
}

/* Slider content */
.slides {
    display:flex;
    transition: transform 0.8s ease-in-out;
    position:static;
}

/* Individual slide */
.slide {
    min-width: 100%;
    box-sizing: border-box;
}

/* Navigation dots */
.slider-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.slide img {
    width: 100%; /* Adjust the width as needed */
    height: 50%; /* Maintain aspect ratio */
    display: block; /* Remove extra space beneath image */
}
.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}
.dot.active {
    background-color: #333;
}
#symbol{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #969696;
    color:whitesmoke;
    display: flex;
    justify-content: center;
}
#main{
    display: flex;
    align-items: center;
    /* background-color: #6a6c6d; */
}
#one{
    background-color: #999;
    height: 150px;
    width: 300px;
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 150px;
    margin-bottom: 100px;
    /* box-shadow:10px 3px 10px 3px black inset; */
    color: whitesmoke;
    text-align: center;
    padding-top: 150px;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#one:hover{
    border: 2px solid black;

}
